* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: purple;
}

.navflexmain {
    display: flex;
    width: 800px;
    max-width: 97%;
    margin: auto;
    margin-top: 100px;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    align-items: center;
    background-color: #F2DDFF;

    /*Box-settings*/
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.089);
}

h1 {
    color: #fff;
    text-shadow: 0px 1px 1px black;
    padding: 5px;
    font-size: 26px;
}

.navbars-nested {
    display: flex;
    gap: 10px;
}

.navbars-nested a {
    text-decoration: none;
    background-color: rgba(137, 43, 226, 0.356);
    padding: 5px;
    color: white;
    font-size: 13px;
    border-radius: 2px;
}

.navbars-nested a:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.39);
    transform: scale(1.1);
    transition: ease-in 0.06s;
    text-decoration: underline;
}

/*Main-Settings*/

.flex-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    background-color: #602F80;
    width: 800px;
    max-width: 97%;
    border-radius: 10px;
    padding: 50px;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.452);

}

.flex-nested-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;


    width: 600px;
    max-width: 95%;
    height: 300px;
    max-height: 90%;
    background-color: #F2DDFF;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.438);

}

/*flex-items-cards*/
.flex-card {
    width: 150px;
    height: 70px;
    background-color: #A212FF;

    /*Box-Settings*/
    border-radius: 10px;
}

.flex-card:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #A2B3FA;
    transition: ease-in-out 0.15s;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.329);
}

footer{
    padding: 10px;
    margin-top: 20px;
    background-color: #602F80;

    text-align: center;
    color: white;
}

span{
    color: lightblue;
    font-style: italic;
    font-weight: bold;
}